.navbar-static-top {
    margin-bottom: 0;
    display: block;
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

.nav-item-separator {
    display: inline-block;
    vertical-align: middle;
}

#bio-pic {
    max-width: 15em;
    float: left;
    margin: 1em 1em 1em 0; /* spazio a destra dell'immagine */
}

.contact-logo {
  width: 1.5em;
  margin-left: 0.5em;
  vertical-align: middle;
  border: 0.5em solid #eeeeee00 !important;
  outline: none;
}

.image-with-caption {
  max-width: 100% !important;
  height: auto !important;
  display: block !important;
  margin: 0 auto !important;
}

/* Gli elementi em con la specifica classe */
em.image-with-caption {
  font-style: italic;
  margin-top: 1rem;
  text-align: center !important;
  font-size: 0.9em !important;
}

/* Gli elementi pre che sono sotto un elemento con classe highlight */
.highlight pre {
    overflow-x: auto !important;
    overflow-y: auto !important;
    max-width: 100% !important;
    max-height: 100em !important;
    box-sizing: border-box !important;
    word-break: break-all !important;
}

pre code {
    white-space: pre !important;
}

/* Gli elementi con entrambe le classi */
.math.center-math{
    /*font-size: x-large !important;*/
    display: block !important;
    text-align: center !important;
    margin: 1em auto !important;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    vertical-align: middle;
}

.math.large-math{
    font-size: x-large !important;
}

.MathJax_Display {
    /* font-size: medium !important; */
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0.5em 0;
    display: block;
    white-space: nowrap;
}


@media (max-width: 767px) {
    #bio-pic {
        display: block;
        float: unset;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .row-fluid .span10 {
        padding-top: 40px;
    }
    .row-fluid .offset2 {
        margin-left: 17% !important;
    }
}

@media (max-width: 767px) {
    .row-fluid [class*=span], .uneditable-input[class*=span], [class*=span] {
        box-sizing: border-box;
        display: block;
        float: none;
        margin-left: 0;
        width: 100%;
        padding-top: 5px;
    }
    .row-fluid .offset2 {
        margin-left: 0 !important;
    }
}
