.navbar-static-top {
    margin-bottom: 0;
    display: block;
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

.nav-item-separator {
    display: inline-block;
    vertical-align: middle;
}

.bio-pic {
    max-width: 15em;
    float: left;
    margin: 1em 1em 1em 0; /* spazio a destra dell'immagine */
}

.contact-logo {
  width: 1.5em;
  margin-left: 0.5em;
  vertical-align: middle;
  border: 0.5em solid #eeeeee00 !important;
  outline: none;
}

/*
ESEMPIO
![Comparison]({static}/images/teoria_matematica/neural_ode_3/comparison_euler.png){.image}
*/
.image {
  max-width: 100% !important;
  height: auto !important;
  display: block !important;
  margin: 0 auto !important;
}

/* CAPTIONS */

/*
ESEMPIO
Figura 1. Comparazione Risultati (andare a capo)
{:.image-caption} --> usa attribute list
*/
.image-caption {
    font-style: italic;
    margin-top: 0.5em !important;
    color: #666;
    text-align: center !important;
    font-size: 0.9em !important;
}

/*
ESEMPIO
Formula 1. Comparazione Risultati (andare a capo)
{:.formula-caption} --> usa attribute list
*/
.formula-caption{
    font-size: 0.9em;
    color: #666;
    margin-top: 0.5em;
    font-style: italic;
    text-align: center;
}

/*
ESEMPIO
Table 1: Test table (andare a capo)
{:.table-caption}
*/
.table-caption{
    text-align: center;
    font-size: 0.9em;
    color: #666;
    margin-top: 0.5em;
    font-style: italic;
}

/* ________________ */

/* Gli elementi pre che sono sotto un elemento con classe highlight */
.highlight pre {
    overflow-x: auto !important;
    overflow-y: auto !important;
    max-width: 100% !important;
    max-height: 100em !important;
    box-sizing: border-box !important;
    word-break: break-all !important;
}

pre code {
    white-space: pre !important;
}

code {
    white-space: pre-wrap !important;
    word-break: break-word !important;
}

/* Gli elementi con entrambe le classi */
.math.center-math{
    /*font-size: x-large !important;*/
    display: block !important;
    text-align: center !important;
    margin: 1em auto !important;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    vertical-align: middle;
}

.math.large-math{
    font-size: x-large !important;
}

.MathJax_Display {
    /* font-size: medium !important; */
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0.5em 0;
    display: block;
    white-space: nowrap;
}

.references .related-posts-list li a {
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;
  max-width: 100%;
}

#toc-list{
    font-size: .8rem;
}

#toc-list .toc-list-item a {
    display: block;
    position: relative;
    padding-left: 0.5em;
    text-indent: 0;
    color: #08c;
    text-decoration: none
}


#toc-list .toc-link::after {
    content: none !important;
    opacity: 0;
}

#toc-list .toc-link:hover {
  text-decoration: underline;
  text-underline-offset: 0.15em;    /* regola l’altezza della linea */
  text-decoration-thickness: 1px;   /* spessore */
}

@media (max-width: 767px) {
    #bio-pic {
        display: block;
        float: unset;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .row-fluid .span10 {
        padding-top: 40px;
    }
    .row-fluid .offset2 {
        margin-left: 17% !important;
    }
}

@media (max-width: 767px) {
    .row-fluid [class*=span], .uneditable-input[class*=span], [class*=span] {
        box-sizing: border-box;
        display: block;
        float: none;
        margin-left: 0;
        width: 100%;
        padding-top: 5px;
    }
    .row-fluid .offset2 {
        margin-left: 0 !important;
    }
}
